*.slxc
*/slprj/
__pycache__
*.pyc
main
*.o
*.so
src/cythontest/cythontest.c
src/cythontest/cythontest.h
stabilizer
src/cythontest/setup.py
src/robot/mecawrapper/mecawrapper.c
src/robot/mecawrapper/mecawrapper.h
pendulum.csv
log
*CMakeFiles*
*/CMakeFiles
*CMakeCache.txt
*Makefile
.vscode/
Cycle_time.txt
cmake_install.cmake
nohup.out
test.out
feedback.csv
test-feedback
caduta_libera.csv
feedback_tempi.csv
test-feedback-posa
test-caduta-libera
test-controllo
test-onda-quadra
libinverted-pendulum-control.a
meca500_ethercat_cpp
onda_quadra_nuova.csv
test_controllo.csv
prove_definitive/onda_quadra_nuova.csv
prove_definitive/test_controllo.csv
