*.slxc
*/slprj/
__pycache__
*.pyc
main
*.o
*.so
src/cythontest/cythontest.c
src/cythontest/cythontest.h
stabilizer
src/cythontest/setup.py
src/robot/mecawrapper/mecawrapper.c
src/robot/mecawrapper/mecawrapper.h
pendulum.csv
log
*CMakeFiles*
*/CMakeFiles
*CMakeCache.txt
*Makefile
.vscode/
Cycle_time.txt
cmake_install.cmake
nohup.out
test.out
feedback.csv
test-feedback
